.navbar {
  background-color: rgb(197, 197, 197); 
}

.mischokLogo-image {
  height: 50px;
}

.header-title {
  display: flex;
  color: #dddddd;
  font-family: Arial;
  font-size: 35px;
  font-weight: bold;
  padding-top: 5px;
  margin-left: 120px;
  margin-bottom: 0;
}

.logo-container {  
  display: flex;
  width: 100px; 
  position: absolute;
  top: 25px;
  left: 310px;
} 

.nav-link-space {
  margin-right: 20px;
}

.menu-container {
  display: flex; 
  background-color: rgb(189, 204, 211);
  padding-top: 150px;
  padding-bottom: 150px;
}

.erstellen-container {
  padding-bottom: 900px;
  background-color: rgb(189, 204, 211);  
}


.buttons-m {  
  width: 250px;
  height: 120%;  
  margin-right: 50px; 
  justify-content: center; 
  align-items: center;
}

.buttons-container {
  justify-items: space-evenly; 
  padding-right: 0;
}

.ModulBewertungListe-container {  
  display: flex;
  position: absolute;
  left: auto;
  background-color: #f8f9fa;
  border: 1px solid #c7e0fa;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 80px;
}

.buttonList-container {
  margin-top: 50px;
  margin-left: 25%;
}

.signIn-container {
  display: flex;
  position: absolute;
  right: 250px;
  top: 210px;  
  width: 620px;
  height: 520px;
  background-color: white;
  border: 1px rgb(185, 185, 185);
  border-style: solid;
  border-radius: 7px;
  padding: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1LogIn {
  color: #154682;
}

.microsoft-image {
  width: 250px;
  height: auto;
  margin-bottom: 35px;
}

.button-exit {
  font-size:17px;
  font-family:Arial;
  width:100px;
  height:40px;
  border-width:1px;
  color:#ffffff;
  border-color:#124d77;
  font-weight:bold;
  border-radius:3px;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  text-shadow:inset 0px 1px 0px #154682;
  background:linear-gradient(#007dc1, #0061a7);
}

.button-exit:hover {
  background: linear-gradient(#0061a7, #007dc1);
}
              
.exitbutton-container {
  display: flex;
  justify-content: center;
  
  margin-top: 30px;
}